In [2]:
from scipy import integrate
from scipy.optimize import fsolve
from math import pi, e, cos, sin
import numpy as np
from IPython.display import display, Markdown
import pandas as pd

## Find the effective thickness of the photoevaporation flow

To calculate $h_0$  we use the equation for [r](https://github.com/will-henney/globule-seminario/issues/5#issuecomment-1438984643) and $rho$ $$\frac{\rho}{\rho_0}=e^{\frac{1-M^2}{2}}$$ and $$\frac{r}{r_0}=M^{-1/\alpha}e^{\frac{M^2-1}{2 \alpha}}$$
hence
$$\frac{dr}{dM}=r_0\Big( e^{\frac{M^2-1}{2\alpha}}\Big(-\frac{M^{-1/\alpha-1}}{\alpha}+\frac{M}{\alpha M^{1/\alpha}}\Big)\Big)=\frac{r_0}{\alpha}e^{\frac{M^2-1}{2\alpha}}\Big(M^{\frac{\alpha-1}{\alpha}}-M^{-\frac{\alpha+1}{\alpha}}\Big)$$
therefore
$$h_0=\int_0^\infty \Big(\frac{n(r)}{n_0}\Big)^2 dr=\int_1^\infty \frac{r_0}{\alpha} (exp(1-M^2))^{1-\frac{1}{2\alpha}}\Big(M^{\frac{\alpha-1}{\alpha}}-M^{-\frac{\alpha+1}{\alpha}}\Big) dM.$$

For $\alpha=2$ we have $$h_0=r_0\int_1^\infty \frac{exp(\frac{3}{4}(1-M^2))}{2}(M^{1/2}-M^{-3/4})dM$$

In [3]:
def alpha_values(alpha): #integrate in function of alpha
    function = lambda x: ((e**(1-x**2))**(1-1/(2*alpha)))*(x**((alpha-1)/alpha)-x**(-(alpha+1)/alpha))/alpha
    return(function)
 
h_0, err = integrate.quad(alpha_values(2), 1, np.inf) #alpha=2 spherical case
display(Markdown(rf'The values of $h_0/r_0$ for $\alpha=2$ is'))
display(Markdown(rf'$h_0/r_0=$'f'{h_0}'))

The values of $h_0/r_0$ for $\alpha=2$ is

$h_0/r_0=$0.12149200100709526

Now for the cylindrical case $\alpha=1$ and we have $$h_0=r_0\int_1^\infty \Big(exp(1-M^2)\big)^{1/2}\Big(1-M^{-2}\Big) dM$$

In [4]:
h_0, err = integrate.quad(alpha_values(1), 1, np.inf) #alpha=1 cylindrical case
display(Markdown(rf'The values of $h_0/r_0$ for $\alpha=1$ is'))
display(Markdown(rf'$h_0/r_0=$'f'{h_0}'))

The values of $h_0/r_0$ for $\alpha=1$ is

$h_0/r_0=$0.311359084837597

## Properties of the shocked shell for photoevaporation flow that interacts with an ambient pressure

We investigate a range of pressure contrasts $P / P_0$ between the ambient gas and the base of the photoevaporatoin flow.

In [5]:
P_P_0_1 = [i+2 for i in range(14)]  #P/P_0 decrease to 0
Extr=[1/0.9,1/0.8,1/0.7,1/0.6]      #case when P/P_0 is near of 1
P_P_0 = 1 / np.array(Extr + P_P_0_1)
pd.DataFrame(P_P_0)#.style.format(precision=2)

           0
0   0.900000
1   0.800000
2   0.700000
3   0.600000
4   0.500000
5   0.333333
6   0.250000
7   0.200000
8   0.166667
9   0.142857
10  0.125000
11  0.111111
12  0.100000
13  0.090909
14  0.083333
15  0.076923
16  0.071429
17  0.066667

Find the Mach number of the flow at radius where the shocked shell will form, assuming that the flow ram pressure is equal to the ambient pressure. 

Now we use the pressure equation to find the mach number

$$\frac{P}{P_0}=\frac{1+M^2}{2}exp\Big(\frac{1-M^2}{2}\Big)$$

In [6]:
def func_to_find_M0(x):
    """Should be called with vector argument of same length as P_P_0"""
    return ((1+x**2)/2)*(e**((1-x**2)/2)) - P_P_0 #equation to find the root

M0 = fsolve(func_to_find_M0, 1.5 * np.ones_like(P_P_0)) 
#we find the mach number to differents ratio of P/P_0
M0

array([1.43653166, 1.62750626, 1.78737193, 1.93722551, 2.0872695 ,
       2.36189814, 2.52690899, 2.64359919, 2.73319847, 2.80555349,
       2.86601589, 2.91780729, 2.96301204, 3.00305324, 3.03894401,
       3.07143012, 3.10107584, 3.12831796])

Find the other parameters of the shocked shell: $r_1 / r_0$, $n_1 / n_0$ (density just before shock). 

The equations for $r_1$ and $\rho_1$ are $$\frac{\rho_1}{\rho_0}=e^{\frac{1-M^2}{2}}$$ and $$\frac{r_1}{r_0}=M^{-1/\alpha}e^{\frac{M^2-1}{2 \alpha}}$$

We will make numpy arrays for all the quantities that we want to calculate. The dataframe will be used only for presentation.

In [9]:
alpha=2      #spherical case
rho1 = np.exp((1-M0**2)/2)
r1 = (M0**(-1/alpha))*np.exp((M0**2-1)/(2*alpha))

In [10]:
Table1 = pd.DataFrame(
    {
        r'$P_1/P_0$': P_P_0,
        r'$M_0$': M0,
        r'$\rho_1/\rho_0$': rho1,
        r'$r_1/r_0$': r1,
    }
)
Table1#.style.format(precision = 2)

    $P_1/P_0$     $M_0$  $\rho_1/\rho_0$  $r_1/r_0$
0    0.900000  1.436532         0.587540   1.088488
1    0.800000  1.627506         0.438503   1.183729
2    0.700000  1.787372         0.333755   1.294729
3    0.600000  1.937226         0.252480   1.429868
4    0.500000  2.087270         0.186682   1.601988
5    0.333333  2.361898         0.101339   2.043998
6    0.250000  2.526909         0.067702   2.417705
7    0.200000  2.643599         0.050071   2.748578
8    0.166667  2.733198         0.039353   3.049133
9    0.142857  2.805553         0.032207   3.326705
10   0.125000  2.866016         0.027132   3.586046
11   0.111111  2.917807         0.023358   3.830455
12   0.100000  2.963012         0.020451   4.062331
13   0.090909  3.003053         0.018149   4.283487
14   0.083333  3.038944         0.016284   4.495335
15   0.076923  3.071430         0.014745   4.698997
16   0.071429  3.101076         0.013456   4.895387
17   0.066667  3.128318         0.012361   5.085257

Find the properties of the shocked shell itself (density and thickness): $n_2 / n_0$, $h_2 / h_0$. 

For density we have that in the shock shell  from $\rho_1 M_1=\rho_2M_2$, where $M_2=M_1^{-1}$, therefore
$$\frac{\rho_2}{\rho_0}=(\rho_2/\rho_1)(\rho_1/\rho_0)=M_1^2(\rho_1/\rho_0)$$

and for $h_2/h_0$ we have that in  the shock shell $h_2/r_1=\frac{3}{4M_1^2}$ hence
$$\frac{h_2}{r_0}=(h_2/r_1)(r_1/r_0)=\frac{3}{4M_1^2}\frac{r_1}{r_0}$$

In [11]:
rho2 = (M0**2)*rho1
h2 = (3/(4*M0**2)) * r1

In [12]:
Table2=pd.DataFrame()
Table2[rf'$P_1/P_0$'] = P_P_0
Table2[rf'$M_0$'] = M0
Table2[rf'$\rho_2/\rho_0$'] = rho2
Table2[rf'$h_2/r_0$'] = h2
Table2

    $P_1/P_0$     $M_0$  $\rho_2/\rho_0$  $h_2/r_0$
0    0.900000  1.436532         1.212460   0.395599
1    0.800000  1.627506         1.161497   0.335172
2    0.700000  1.787372         1.066245   0.303956
3    0.600000  1.937226         0.947520   0.285757
4    0.500000  2.087270         0.813318   0.275780
5    0.333333  2.361898         0.565327   0.274802
6    0.250000  2.526909         0.432298   0.283978
7    0.200000  2.643599         0.349929   0.294970
8    0.166667  2.733198         0.293980   0.306123
9    0.142857  2.805553         0.253507   0.316985
10   0.125000  2.866016         0.222868   0.327431
11   0.111111  2.917807         0.198864   0.337441
12   0.100000  2.963012         0.179549   0.347032
13   0.090909  3.003053         0.163670   0.356232
14   0.083333  3.038944         0.150383   0.365071
15   0.076923  3.071430         0.139101   0.373581
16   0.071429  3.101076         0.129401   0.381789
17   0.066667  3.128318         0.120972   0.389720

## Emission measure of shocked shell

*Calculate the relative emission measure of the shell and the photoevaporation flow*

*Also calculate the peak surface brightness of the shell and photoevaporation flow. For this you will need to estimate the line of sight depths $\ell$*

*Make a second table showing these quantities. Alternatively, show fewer significant figures and see if everything will fit in a single table*